
.about-me {
  text-align: center;
}

.contact {
  text-align: center;
}
.projects {
  text-align: center;
}
.carousel {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}
#contact {

  align-self: center;
  color: black;
  background-image: url("https://5.imimg.com/data5/JQ/NG/GLADMIN-55478123/village-tour-500x500.png");
}

#projects {
  
 background-image: url("https://lab.getapp.com/wp-content/uploads/2019/04/HEAD-Step_by_step_project_lifecycle_methodology_guide_to_boost_project_performance_Hero.png");

}
